# Bibliotecas

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Dataset

In [5]:
df = pd.read_csv('data/movie_metadata.csv')

<b>Exibição dos dados</b>

In [6]:
pd.options.display.max_columns = 200
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,143,NaN,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

<b>Exibindo informações do dataset</b>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

<b>Verificando alcances dos valores</b>

In [8]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

## Valores nulos

<b>Procura por valores faltantes</b>

In [ ]:
sns.heatmap(df.isnull(),cbar=False,yticklabels=False)

<b>Verificando quantidade de valores nulos por coluna</b>

In [ ]:
df.isnull().sum()

<b>Substituindo valores núlos numéricos pela média</b>

In [ ]:
for column in df.select_dtypes(['float64','int64']).columns:
    df[column] = df[column].fillna(value=np.mean(df[column]))

<b>Observar novamente valores faltantes</b>

In [ ]:
sns.heatmap(df.isnull(),cbar=False,yticklabels=False)

<b>Apagando linhas com valores faltantes</b>

In [ ]:
df.dropna(inplace=True)

In [ ]:
sns.heatmap(df.isnull(),cbar=False)

<b>Observando dataset reestruturado</b>

In [ ]:
df.shape

In [ ]:
df.info()

## Verificar correlação dos dados

In [ ]:
plt.figure(figsize=(15,10))
sns.heatmap(df.corr(),annot=True,cmap=sns.cm.rocket_r)

<b>Eliminando colunas que tem correlação abaixo de 25% com a variavel de interesse</b>

In [ ]:
df.drop(columns=['aspect_ratio','title_year','facenumber_in_poster','director_facebook_likes','actor_3_facebook_likes','actor_1_facebook_likes','gross','cast_total_facebook_likes','actor_2_facebook_likes', 'budget'],inplace=True)

<b>Exibição da nova matriz de correlação e disposição dos dados</b>

In [ ]:
plt.figure(figsize=(15,10))
sns.heatmap(df.corr(),annot=True,cmap=sns.cm.rocket_r)

## Tranformando colunas

<b>Verificando diferentes gêneros de filmes.</b>

A corretude pode ser confirmada através da própria [documentação do IMDB](https://help.imdb.com/article/contribution/titles/genres/GZDRMS6R742JRGAG?ref_=helpms_helpart_inline#).

In [ ]:
genres_list = df['genres'].apply(lambda x: x.split('|'))
new_list = []
for x in genres_list:
    for y in x:
        new_list.append(y)
x = np.unique(new_list)
x.astype(object)

**Transformando a coluna categórica `genre` em colunas separadas com valores dummy.**

In [ ]:
dummies = pd.DataFrame(pd.Series(df['genres']).str.get_dummies())
df = pd.concat([df,dummies], axis = 1)

In [ ]:
df.head()

In [ ]:
df.shape

**Transformando a coluna categórica `Color` em uma variável dummy.**

In [ ]:
np.unique(df['color'])

In [ ]:
color_dummies = pd.DataFrame(pd.Series(df['color']).str.get_dummies())
df = pd.concat([df, color_dummies], axis = 1)

In [ ]:
df.drop([' Black and White'],axis=1,inplace=True)

In [ ]:
df.head()

**Verificando ocorrências de cada gênero**

In [ ]:
plt.figure(figsize=(20,10))
df[df.columns[18:41]].apply(lambda x: x.sum()).plot.bar()

**Transformando a coluna categórica `content_rating` em uma variável dummy.**

In [ ]:
np.unique(df['content_rating'])

In [ ]:
color_dummies = pd.DataFrame(pd.Series(df['content_rating']).str.get_dummies())
df = pd.concat([df, color_dummies], axis = 1)

In [ ]:
df.head()

**Devido a grande variedade de valores possível, as _features_ `plot_keywords, country e language` não foram transformadas em dummy _variables_**

In [ ]:
print('Valores únicos para plot_keywords (sem separação): ', len(np.unique(df['plot_keywords'])))
print('Valores únicos para country: ', len(np.unique(df['country'])))
print('Valores únicos para language: ', len(np.unique(df['language'])))

**Apagando as colunas `genre`, `color` e `content_rating`**

In [ ]:
df.drop(['genres', 'color', 'content_rating'], axis=1,inplace=True)
df.head()

**Peganto todos os valores possíveis de atores e criando um dicionário**

In [ ]:
all_actors = pd.concat([df['actor_1_name'], df['actor_2_name'], df['actor_3_name']], ignore_index=True)
all_actors.head()

In [ ]:
from sklearn import preprocessing

le_actors = preprocessing.LabelEncoder()

In [ ]:
le_actors.fit(all_actors)
le_actors.classes_

**Tranformando o nome dos atores em valores numéricos**

In [ ]:
numeric_actor_1 = le_actors.transform(df['actor_1_name'])
df['actor_1_name'] = numeric_actor_1
df.head()

In [ ]:
numeric_actor_2 = le_actors.transform(df['actor_2_name'])
df['actor_2_name'] = numeric_actor_2
df.head()

In [ ]:
numeric_actor_3 = le_actors.transform(df['actor_3_name'])
df['actor_3_name'] = numeric_actor_3
df.head()

**Transformando o nome dos diretores em valores numéricos**

In [ ]:
le_director_name = preprocessing.LabelEncoder()
le_director_name.fit(df['director_name'])
le_director_name.classes_

In [ ]:
numeric_director = le_director_name.transform(df['director_name'])
df['director_name'] = numeric_director
df.head()

**Removendo feature dos links dos filmes e seu título**

In [ ]:
df.drop(['movie_imdb_link', 'movie_title'], axis=1,inplace=True)
df.head()

**Transformando língua em valores numéricos**

In [ ]:
le_language = preprocessing.LabelEncoder()
le_language.fit(df['language'])
le_language.classes_

In [ ]:
numeric_language = le_language.transform(df['language'])
df['language'] = numeric_language
df.head()

**Transformando o país em valores numéricos**

In [ ]:
le_country = preprocessing.LabelEncoder()
le_country.fit(df['country'])
le_country.classes_

In [ ]:
numeric_country = le_country.transform(df['country'])
df['country'] = numeric_country
df.head()

**Removendo plot_keywords para teste**

In [ ]:
df_test = df.drop(['plot_keywords'], axis=1)
df_test.head()

**Normalizando o _dataset_**:

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

- **Nome do Diretor**

In [ ]:
np.matrix([df_test['director_name']]).T.shape

In [ ]:
scaler_director = MinMaxScaler()
scaler_director.fit(np.matrix([df_test['director_name']]).T)

In [ ]:
normalized_director = scaler_director.transform(np.matrix([df_test['director_name']]).T)
normalized_director

In [ ]:
df_test['director_name'] = normalized_director
df_test.head()

- **Nome dos Atores**

In [ ]:
scaler_actor = MinMaxScaler()
scaler_actor.fit(df_test.filter(['actor_1_name','actor_2_name', 'actor_3_name'], axis=1))

In [ ]:
normalized_actors = scaler_actor.transform(df_test.filter(['actor_1_name','actor_2_name', 'actor_3_name'], axis=1))
normalized_actors

In [ ]:
normalized_actors_df = pd.DataFrame(normalized_actors)
normalized_actors_df.head()

In [ ]:
df_test['actor_1_name'] = normalized_actors_df[0].values
df_test['actor_2_name'] = normalized_actors_df[1].values
df_test['actor_3_name'] = normalized_actors_df[2].values
df_test.head()

- **Língua**

In [ ]:
scaler_language = MinMaxScaler(feature_range=(0, 1))
scaler_language.fit(np.matrix([df_test['language']]).T)

In [ ]:
normalized_language = scaler_director.transform(np.matrix([df_test['language']]).T)
normalized_language

In [ ]:
df_test['language'] = normalized_language
df_test.head()

- **Língua**

In [ ]:
scaler_country = MinMaxScaler(feature_range=(0, 1))
scaler_country.fit(np.matrix([df_test['country']]).T)

In [ ]:
normalized_country = scaler_director.transform(np.matrix([df_test['country']]).T)
normalized_country

In [ ]:
df_test['country'] = normalized_country
df_test.head()

**Nova matriz de correlação com os dados normalizados**

In [ ]:
plt.figure(figsize=(18,12))
sns.heatmap(df_test.corr(),annot=True,cmap=sns.cm.rocket_r)

**Retirando a coluna `Color`, pois, de acordo com sua correlação com a coluna `Black and White`, ela representa exatamente o seu oposto**

In [ ]:
df_test = df_test.drop(['Color'], axis=1)
df_test.head()

**Gerando arquivo CSV com o _dataset_ processado**

In [ ]:
df_test.to_csv(path_or_buf='data/df_test.csv')

In [ ]:
y = df_test['imdb_score']
X = df_test.drop(['imdb_score'], axis=1)

**Testando método de regressão Lasso**

In [ ]:
from  sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
from sklearn.linear_model import LinearRegression

lasso = Lasso()
lasso.fit(X_train, y_train)
lasso.predict(X_test)

In [ ]:
lasso.score(X_test, y_test)

In [ ]:
df.head()